.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;

}

.header {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color:white;

}

.bio {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 16px;
}

.waveButton{
  cursor: pointer;
  margin-top: 20px;
  padding: 15px;
  color:white;
  /* border: 5px; */
  border-radius: 50px;
  font-size: 18px;
  border:2px solid #ffff;
  background: rgb(159,0,93); 
  background: linear-gradient(90deg, rgba(159,0,93,1) 34%, rgba(0,209,255,1) 89%); 

}

.waveButton:hover,
.waveButton:active{
  background: rgb(117, 0, 69); 
  background: linear-gradient(90deg, rgb(124, 1, 73) 34%, rgb(1, 151, 185) 89%); 
}


#wave-message{
  margin-top:18px;
  width:600px;
  height:50px;
  background: rgb(159,0,93); 
  background: linear-gradient(90deg, rgba(159,0,93,1) 34%, rgba(0,209,255,1) 89%); 
  border-color:#ffff;
  color:#ffff;

}
#wave-message::placeholder{
  color:#ffff;
}


.responses{
  background-color: #f2cf43;
  background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
 
  color:white;
  border-color:#ffff;
  margin-top:30px;
  padding-bottom:23px;
  padding-left:10px;

}